         a {
            text-decoration: none;
            color: #444444;
        }

        a:hover {
            color: cornflowerblue;
        }

        ul {
            font-family: raleway;
            padding-inline-start: 1.5em;
        }

        li.active a {
            color: white;
            background-color: #24A2AF;
            xxpadding: 0.2em;
        }

        a.active {
            color: white;
            background-color: #24A2AF;
            xxpadding: 0.2em;
        }

        .sidebar {
            position: absolute;
            right: 5%;
            top: 150px;
            text-align: left;
            font-family: Georgia;
            font-size: 1.1em;
            line-height: 1.2em;
            max-width: 28%;
            background-color: rgba(247, 246, 239, 0.8)
        }
